/*
 * #22223B = Dark Purple
 * #4A4E69 = Purple-Gray
 * #9A8C98 = Spanish Gray
 * #C9ADA7 = Silver pink
 * #F2E9E4 = Alabaster
 */




header, footer{
	background: #22223b;
}

.repo{
	display: inline-block;
}

.CSharp{
	background: green;
}

.Go{
	background: blue;
}

.Ruby{
	background: red;
}

.Python{
	background: yellow;
}