<html>

<head>
    <title>Daniel Brunelle</title>
</head>

<body>
    <header>
        <h1>Daniel Brunelle</h1>
        <h2>Student | Software Developer </h2>

        <p>As a student, I am currently taking a Bachelor of Science in Computer Science at Macewan University. As a software
            developer, I am constantly finding new technologies, and taking what I learn from that and combine it with my
            schooling to make innovative and effective software.</p>
    </header>

    <main>

    </main>
</body>

</html>