<html>

<head>
	<title>Daniel Brunelle</title>
</head>

<body>

	<nav class="nav-global" data-nav>
		<a data-scroll href="/about">About</a>
		<a href="/projects">Projects</a>
		<a href="/hire_me">Hire Me</a>
	</nav>
	<header>

	</header>

	<main>
		<section>
			{{range .Repos}}
			<hr>
			<div>
				<h3>{{.Language}}</h3>
				<a href={{.URL}}>
					<h3>{{.Name}}</h3>
				</a>
				<h4>{{.Description}}</h4>

				<ol>
					{{range $i, $val := .Commits}} {{if lt $i 3}}

					<li>
						<div>
							<a href="{{$val.URL}}">
								<b>Commit:</b> {{$val.Sha}}
							</a>
							<br>
							<b>Author:</b> {{$val.Commit.Author.Name}}
							<br>
							<b>Message:</b> {{ $val.Commit.Message }}
							<br>
							<b>Date:</b> {{$val.Commit.Author.Date}}
						</div>
					</li>
					{{end}} {{end}}

				</ol>

			</div>
			{{end}}
		</section>
	</main>

	<footer>

	</footer>
</body>

</html>